/*--- Filters Container ----*/
.filters {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -18.7rem;
    width: 10rem;
    color: var(--color-gdark);
    background-color: var(--color-gbackground);
    height: 100%;
    padding-top: 1.7rem;
    transition: all 0.3s linear;
}

.filters.active {
    left: 0;
    text-align: center;
}

.filters__type {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.filters__title {
    font-weight: 700;
    font-size: 1.3rem;
}

.filters__group-type {
    display: flex;
    gap: 0.6rem;
    margin-left: 0.9rem;
}

.filters__label {
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--color-primary);
    border-radius: 0.2rem;
    outline: none;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.25rem;
    height: 0.5rem;
    border: solid var(--color-gwhite);
    border-width: 0 0.2rem 0.2rem 0;
    transform: translate(-50%, -50%) rotate(45deg);
}
